.container {
    display: flex;
    position: relative;

    width: min(100%, 29em);
    height: calc(100% - 0.15em * 2 * 2);
    margin: auto;
    border-radius: 0.5em;
    overflow: hidden;

    background-color: rgb(255, 255, 255);

    margin-top: calc(0.15em * 2);
    margin-bottom: calc(0.15em * 2);
    border: 0.15em solid rgb(80, 44, 0);
    /* outline: 0.15em solid rgb(0, 0, 0); */


    box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.463);
}



.contentIndexWrapper {
    display: flex;
    flex-direction: column;
    align-items: end;


    background-color: rgba(0, 0, 0, 0.134);

    width: 2.5em;
    padding-top: 0.5em;

    gap: 0.5em;

    overflow-y: auto;
}


.contentIndex {
    padding: 0.2em;

    position: relative;
    top: 0;
    left: 0;
    

    
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    white-space: nowrap;

    background-color: yellow;

    border-top-left-radius: 0.25em;

    cursor: pointer;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.6);

    transition: all 0.2s;
}

.contentIndex:hover {
    top: -0.1em;
    left: -0.05em;

    border-radius: 0.25em;
    box-shadow: -5px 10px 2px rgba(0, 0, 0, 0.6);
}






.contentArea {
    flex: 1;

    overflow-y: auto;

    /* font-size: 0.9em; */

    background-color: rgba(0, 0, 0, 0.053);
}


.spline {
    width: 0.2em;
}