.container {
    padding: 0.5em;
    border-radius: 0.5em;

    
    position: relative;


    background-color: rgba(0, 0, 0, 0.04);
}

.container:hover {
    background-color: rgba(0, 0, 0, 0.04);
}


.body {
    font-size: 0.9em;
}