.container {
    display: flex;
    flex-direction: column;
    
    
    position: absolute;
    top: 0;
    right: 0;
}



.button {
    padding: 5px 10px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    margin-left: auto;

    font-size: 1.2rem;

}


.info {
    gap: 5px;

    border-radius: 5px;

    background-color: rgba(255, 255, 255, 1);
    color: black;

    transition: all 0.3s;
    
}


.info.show {
    font-size: 24px;
    padding: 5px 10px;

    border: 1px solid black;

}

.info.hide {
    font-size: 0;
    padding: 0;

    border: 0 solid black;
}