.title {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
}

.container {
    width: 100%;

    > p {
        font-size: 18px;
    }
}

.endTitle {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.link {
    color: rgb(221, 122, 0);
    font-weight: bold;
}


.info {
    color: red;
}