.container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    gap: 10px;

    background-color: rgba(0, 0, 0, 0.15);
}


.page {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    padding: 5px;

    background-color: black;
    border-radius: 4px;

    cursor: pointer;
    user-select: none;
}

.page.current {
    background-color: white;
    color: black;
    font-weight: bold;
}